/* Container 기본 스타일 */
.container {
    border: 1px solid red;
    height: 600px;
    width: 600px;
    display: flex;
    position: relative;
    align-items: flex-start;  /* 상단 중앙 정렬을 위해 변경 */
}

/* 공통 box 스타일 */
.box {
    background-color: black;
    width: 100px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;  
    align-items: center;
    position: relative;
}

/* box1 스타일 */
.box1 {
    justify-content: flex-end;
}

/* box2 스타일 */
.box2 {
    flex-direction: column;
    justify-content: space-between;
}

/* box3 스타일 */
.box3 {
    justify-content: center;
    align-items: flex-start; 
}

.box3 {
    justify-content: flex-start;
}

.box4{
    justify-content: flex-end;
    align-items: flex-end;
}

.margin-right {
    margin-right: 10px;
}

/* 개별 박스 위치 스타일 */
.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.align-start {
    align-self: flex-start;
}

.align-center {
    align-self: center;
}

.align-end {
    align-self: flex-end;
}

.align-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.align-bottom-right {
    position: absolute;
    top: 0;
    right: 0;
}

/* 회색 박스 스타일 */
.grey-box {
    background-color: grey;
    height: 300px;
    width: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.grey-box2 {
    background-color: grey;
    height: 100px;
    width: 100px;
    display: flex;
    position: absolute;
    top:50px;
    left:50px;
}

.grey-box3 {
    background-color: grey;
    height: 150px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* 블랙 박스를 중앙에 위치시키기 위한 스타일 */
.centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100px;
    height: 100px;
    color: white;
}

.box-size{
    width:200px;
    height:200px;
}

/* 텍스트를 왼쪽 상단에 위치시키는 스타일 */
.text-top-left {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    color:white
}
