.container {
    width:500px;
    height:400px;
    border: black solid 1px;
    display: flex;
    position: relative; /*부모 내에서 위치 옮김 */
}

.justify-end{
    justify-content: flex-end;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-end{
    align-items: flex-end;
}

.black_box{
    background-color: black;
    width:100px;
    height:100px;
    color:white;
    font-size: 10px;
    position: relative;
}

.grey_box1{
    background-color: rgb(70, 70, 70);
    width:200px;
    height:200px;
    color:white;
    font-size: 10px;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey_box2{
    background-color: rgb(70, 70, 70);
    width:100px;
    height:100px;
    color:white;
    font-size: 10px;
    position: relative;
}

.grey_box2{
    background-color: rgb(70, 70, 70);
    width:100px;
    height:100px;
    color:white;
    font-size: 10px;
    position: relative;
}

.grey_box3{
    background-color: rgb(70, 70, 70);
    width:300px;
    height:150px;
    color:white;
    font-size: 10px;
    position: relative;

    display: flex;
    align-items: flex-end;
}

.absolute-top-left{
    position: absolute;
    top:0px;
    left:0px;
}

.right-10{
    right: 10px;
}

.top-20{
    top: 20px;
}

.top-100{
    top: 100px;
}

.top-200{
    top: 200px;
}

.top-50{
    top: 50px;
}

.left-50{
    left: 50px;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.align-start {
    align-self: flex-start;
}

.align-center {
    align-self: center;
}

.align-end {
    align-self: flex-end;
}

